{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if form.errors %}
hi
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    <div class="content-section">
        <form action="{% url 'login' %}" method="POST" id="loginform" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {% crispy form %}
            </fieldset>
        </form>
        
    </div>
{% endblock content %}
{% block scripts%}
<script>
    function face_auth() {
        console.log('hi')
     $.ajax({
         url:"{% url 'face_auth' %}",
         data : {"location":"hi",
         'csrfmiddlewaretoken': '{{ csrf_token }}',},
         type:'POST',
        dataType: 'json',
         success: function (data) {
            console.log(data);
            $('#loginform').submit();

         }
     })   
    }
</script>
{% endblock scripts %}